.myPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.contentContainer .sidebar {
  width: 250px;
  background-color: rgba(179, 177, 177, 0.619);
  border-radius: 6px;
  border-right: 1px solid #dee2e6;
  padding: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  height: 590px; /* 사이드바 높이 조정 */
}

.contentContainer .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.contentContainer .sidebar ul li {
  margin-bottom: 15px;
}

.contentContainer .sidebar ul li a {
  text-decoration: none;
  color: #495057;
  font-size: 20px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.contentContainer .sidebar ul li a:hover {
  background-color: #e9ecef;
}

.mainContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
